rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'nebulamusic_rh@outlook.com';
    }
    match /nebulaTracks/{docId} {
      allow read, write: if isAdmin();
    }
    match /nebulaArtists/{docId} {
      allow read, write: if isAdmin();
    }
    match /nebulaAnalyticsEvents/{docId} {
      allow read, write: if isAdmin();
    }
    match /nebulaDemoLeads/{docId} {
      allow read, write: if isAdmin();
    }
  }
}
