rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'nebulamusic_rh@outlook.com';
    }
    match /nebula-tracks/{userId}/{fileName} {
      allow read, write: if isAdmin();
    }
  }
}
